@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Raleway&family=Roboto&family=Rubik&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}
body {
	background-image: url('./background.jpg');
	background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    width:100%; 
}






.home-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5em;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}


.title span {
	font-style: italic;
	font-family: 'Rubik', sans-serif;
}

.title h1 {
	letter-spacing: 1.5px;
	font-size: 2em;
	color: white;
	text-transform: capitalize;
	padding: 1em 2em;
	letter-spacing: 2.5px;
	font-family: 'Raleway', sans-serif;
}

.title {
	background-color: rgb(18, 1, 53);
	text-align: center;
	box-shadow: rgb(0, 0, 0) 15px 10px 2px;
}



.start-btn{
	border-radius: 30px;
	cursor: pointer;
	width: 200px;
	background-color: black;
	color: rgb(255, 255, 255);
	font-size: 1.8em;
	padding: 0.5em 0.75em;
	letter-spacing: 2px;
}


.start-btn:hover {
	background-color: white;
	color: black;
  	transition: all 0.2s ease-in;
}



.footer {
	/* border-top: 2px solid rgb(49, 0, 147); */
	position: fixed;
    bottom: 3%;
    width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.github-button {
	margin: auto;
	padding-top: 0.5em;
	cursor: pointer;
	font-size: 2.5em;
	background: transparent;
	border: none;
}

.github-button a {
	text-decoration: none;
	color: rgb(118, 241, 243)
}

.github-button:hover {
	transform: scale(1.1);
	box-shadow: rgba(245, 245, 255, 0.733) 5px 7px 7px 0px;
}


.game-page {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8em;
	margin: auto;
	margin-top: 6em;
}

.game-page button {
	background: transparent;
	border: none;
	cursor: pointer;
	width: 100%;
	height: 100%;
}


.game-title h2 {
	letter-spacing: 2px;
	font-size: 1.8em;
	color: white;
	text-transform: capitalize;
	padding: 1em 1em;
	letter-spacing: 2.5px;
	font-family: 'Raleway', sans-serif;
}

.game-title {
	font-size: 1.05em;
	width: 50em;
	margin: auto;
	margin-top: 1em;
	background-color: rgb(18, 1, 53);
	text-align: center;
	box-shadow: rgb(0, 0, 0) 15px 10px 2px;
}






.first-image {
	width: 25em;
	height: 24em;
}

.first-image:hover {
	border: 2px solid white;
	border-radius: 20px;
	transition: 0.15s linear;
}

.first-image img {
	border-radius: 5px;
	width: 300px;
	height: 160px;
	margin-bottom: 2em;
}

.first-image h3 {
	width: 300px;
	margin: auto;
	text-align: center;
	color: white;
	font-size: 1.3em;
	letter-spacing: 1.5px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: rgb(11, 0, 31);
	padding: 0.8em 1em;
	border-radius: 15px;
}
.first-image p {
	text-align: center;
	color: white;
	
}

.alert-none {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid white;
	color: white;
	text-align: center;
	padding: 0.36em 0.6em;
	width: 2em;
	height: 2em;
	font-size: 1.8em;
	border-radius: 50%;
	background-color: rgb(11, 0, 31);
}


.alert-success {
	background-color: rgb(1, 104, 1);
	color:white;
	text-align: center;
	padding: 0.5em 0.3em;
	width: 2em;
	height: 2em;
	font-size: 1.8em;
	border-radius: 50%;
}


.alert-failure {
	background-color: rgb(184, 3, 3);
	color:white;
	text-align: center;
	padding: 0.5em 0.3em;
	width: 2em;
	height: 2em;
	font-size: 1.8em;
	border-radius: 50%;
}



.second-image {
	width: 25em;
	height: 24em;
}


.second-image h3 {
	width: 300px;
	margin: auto;
	text-align: center;
	color: white;
	font-size: 1.3em;
	letter-spacing: 1.5px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: rgb(11, 0, 31);
	padding: 0.8em 1em;
	border-radius: 15px;
}
.second-image p {
	text-align: center;
	color: white;
	
}


.second-image img {
	border-radius: 5px;
	width: 300px;
	height: 160px;
	margin-bottom: 2em;
}


.second-image:hover {
	border: 2px solid white;
	border-radius: 20px;
	transition: 0.15s linear;
}


.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.689);
	visibility: hidden;
	place-items: center;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -1;
}

.show-modal {
	visibility: visible;
	z-index: 10;
}


.modal-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1.75em;
	width: 35vw;
	height: 45vh;
	background-color: rgb(6, 0, 16);
	border-radius: 30px;
	position: relative;
}

.modal-container h3 {
	color: white;
	text-transform: capitalize;
	letter-spacing: 1.8px;
	font-size: 1.75em;
	font-family: 'Raleway', sans-serif;
}

.modal-container p {
	color:white;
	font-size: 1.8em;
	letter-spacing: 2px;
	font-family: 'Rubik', sans-serif;
}

.modal-btn-container {
	display: flex;
	flex-direction: column;
	gap: 1.2em;
	margin-top: 1.5em;
}

.modal-btn-container button {
	font-family: 'Raleway', sans-serif;
	border-radius: 30px;
	cursor: pointer;
	width: 220px;
	background-color: black;
	color: rgb(255, 255, 255);
	font-size: 1.1em;
	padding: 0.25em 0.5em;
	letter-spacing: 1px;
	border: 1px solid white;
	font-weight: 500;
}

.modal-btn-container button:hover {
	background-color: white;
	color: black;
  	transition: all 0.2s ease-in;
	font-weight: 800;
}

.cost-container p {
	color:white
}

.closeGame-gamepage {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin-top: 6em;
}

.closeGame-gamepage button {
	width: 300px;
	border-radius: 20px;
	cursor: pointer;
	background-color: black;
	color: rgb(255, 255, 255);
	font-size: 1.2em;
	padding: 0.5em 1.4em;
	letter-spacing: 1.5px;
	margin-bottom: 3em;
}

.closeGame-gamepage button:hover {
	background-color: white;
	color: black;
  	transition: all 0.2s ease-in;
}


.cost-container {
	margin-top: 1em;
}
.cost-container p{
	font-size: 1.25em;
	letter-spacing: 1.8px;
	font-family: 'Rubik', sans-serif;
}










@media only screen and (max-width:970px){
	.title h1 {
		font-size: 1.8em;
	}
	.start-btn{
		font-size: 1.8em;
	}
	.github-button {
		font-size: 3em;
	}

}	

@media only screen and (max-width:605px){
	.title h1 {
		font-size: 1.5em;
	}
	.start-btn{
		font-size: 1.5em;
	}
	.github-button {
		font-size: 2.5em;
	}
}

@media only screen and (max-width:475px){
	.title h1 {
		font-size: 1.1em;
	}
	.start-btn{
		font-size: 1.1em;
		width: 150px;
	}
}

@media only screen and (max-width:362px){
	.title h1 {
		font-size: 1em;
	}
	.start-btn{
		font-size: 1em;
		width: 130px;
	}
}

@media only screen and (max-width:335px){
	.title h1 {
		font-size: 0.8em;
	}
	.start-btn{
		font-size: 0.9em;
		width: 100px;
	}
	.github-button {
		font-size: 2em;
	}
}

@media only screen and (max-width:280px){
	.title h1 {
		font-size: 0.75em;
	}
	.start-btn{
		font-size: 0.8em;
		width: 90px;
	}
}

@media only screen and (max-width:268px){
	.title h1 {
		font-size: 0.6em;
	}
	.start-btn{
		font-size: 0.7em;
		width: 80px;
	}
	.github-button {
		font-size: 1.75em;
	}
}


@media only screen and (max-width:230px){
	.title h1 {
		font-size: 0.5em;
	}
	.start-btn{
		font-size: 0.6em;
		width: 60px;
	}
	.github-button {
		font-size: 1.6em;
	}
}







@media only screen and (max-width:1000px){
	.game-page {
		margin-top: 7em;
		gap: 4em;
	}
	.first-image {
		width: 52vw;
		height: 45vh;
	}
	.second-image {
		width: 52vw;
		height: 45vh;
	}
	.first-image img {
		width: 340px;
	}
	.first-image h3 {
		font-size: 1.72em;
		width: 350px;
	}
	.second-image img {
		width: 340px;
	}
	.second-image h3 {
		font-size: 1.72em;
		width: 360px;
	}
	.alert-none {
		font-size: 2em;
	}
	.game-title {
		width: 650px;
	}
	.game-page {
		gap: 4em;
		flex-direction: column;
	}
	.closeGame-gamepage {
		width: 100%;
		font-size: 1.2em;
	}
}

@media only screen and (max-width:900px){
	.game-title h2 {
		font-size: 1.65em;
	}
	.game-page {
		flex-direction: column;
		gap: 3em;
	}
	.game-title {
		width: 70vw;
	}
	.closeGame-gamepage button {
		font-size: 1.1em;
		margin-bottom: 3em;
	}
	.alert-none {
		font-size: 1.8em;
	}
	.alert-failure {
		font-size: 1.8em;
	}
	.alert-success {
		font-size: 1.8em;
	}
	.modal-container {
		width: 46vw;
		height: 53vh;
	}
	.modal-container h3 {
		font-size: 1.8em;
	}
	.modal-container p {
		font-size: 2em;
	}
	.modal-btn-container button {
		font-size: 1em;
		width: 200px;
	}
	.first-image {
		width: 27em;
		height: 27em;
	}
	.second-image {
		width: 27em;
		height: 27em;
	}
	.first-image img {
		width: 260px;
	}
	.second-image img {
		width: 260px;
	}
	.first-image h3 {
		font-size: 1.4em;
	}
	.second-image h3 {
		font-size: 1.4em;
	}
}


@media only screen and (max-width:660px){
	.game-page {
		gap: 3.2em;
	}
	.game-title {
		width: 65vw;
	}
	.game-title h2 {
		font-size: 1.4em;
	}
	.closeGame-gamepage button {
		font-size: 1.1em;
		margin-bottom: 3em;
	}
	.modal-container {
		width: 62vw;
		height: 52vh;
	}
	.modal-container h3 {
		font-size: 1.7em;
	}
	.modal-container p {
		font-size: 1.9em;
	}
	.modal-btn-container button {
		font-size: 0.973em;
		width: 190px;
	}
	.first-image {
		width: 26em;
		height: 26em;
	}
	.second-image {
		width: 26em;
		height: 26em;
	}
	.first-image img {
		width: 260px;
	}
	.second-image img {
		width: 260px;
	}
	.first-image h3 {
		font-size: 1.3em;
		width: 280px;
	}
	.second-image h3 {
		font-size: 1.3em;
		width: 280px;
	}
}

@media only screen and (max-width:560px){
	.game-page {
		gap: 2.3em;
	}
	.game-title h2 {
		font-size: 1.1em;
	}
	.first-image {
		width: 17em;
		height: 17em;
	}
	.second-image {
		width: 17em;
		height: 17em;
	}
	.first-image img {
		width: 210px;
	}
	.first-image h3 {
		font-size: 1.1em;
		width: 200px;
	}
	.second-image img {
		width: 210px;
	}
	.second-image h3 {
		font-size: 1.1em;
		width: 200px;
	}
	.closeGame-gamepage button {
		width: 255px;
		font-size: 0.92em;
	}
	.alert-none {
		font-size: 1.5em;
	}
	.alert-failure {
		font-size: 1.5em;
	}
	.alert-success {
		font-size: 1.5em;
	}
	.modal-container {
		width: 65vw;
		height: 52vh;
	}
	.modal-container h3 {
		font-size: 1.6em;
	}
	.modal-container p {
		font-size: 1.8em;
	}
	.modal-btn-container button {
		font-size: 0.95em;
		width: 190px;
	}
}

@media only screen and (max-width:330px){
	.game-page {
		gap: 2.5em;
	}
	.game-title h2 {
		font-size: 0.95em;
	}
	.first-image {
		width: 15em;
		height: 15em;
	}
	.second-image {
		width: 15em;
		height: 15em;
	}
	.first-image img {
		width: 200px;
	}
	.first-image h3 {
		font-size: 1em;
		width: 220px;
	}
	.second-image img {
		width: 210px;
	}
	.second-image h3 {
		font-size: 1em;
		width: 220px;
	}
	.closeGame-gamepage button {
		font-size: 0.85em;
		width: 230px;
	}
	.alert-none {
		font-size: 1.4em;
	}
	.alert-failure {
		font-size: 1.4em;
	}
	.alert-success {
		font-size: 1.4em;
	}
	.modal-container {
		width: 88vw;
		height: 55vh;
	}
	.modal-container h3 {
		font-size: 1.4em;
	}
	.modal-container p {
		font-size: 1.8em;
	}
	.modal-btn-container button {
		font-size: 0.9em;
		width: 175px;
	}
}


@media only screen and (max-width:250px){
	.game-page {
		gap: 2.9em;
	}
	.game-title h2 {
		font-size: 0.8em;
	}
	.first-image {
		width: 14em;
		height: 17em;
	}
	.second-image {
		width: 14em;
		height: 17em;
	}
	.first-image img {
		width: 170px;
	}
	.first-image h3 {
		font-size: 0.9em;
		width: 200px;
	}
	.second-image img {
		width: 170px;
	}
	.second-image h3 {
		font-size: 1em;
		width: 200px;
	}
	.closeGame-gamepage button {
		width: 210px;
		font-size: 0.8em;
	}
	.alert-none {
		font-size: 1.3em;
	}
	.alert-failure {
		font-size: 1.3em;
	}
	.alert-success {
		font-size: 1.3em;
	}
	.modal-container {
		width: 90vw;
		height: 55vh;
	}
	.modal-container h3 {
		font-size: 1.2em;
	}
	.modal-container p {
		font-size: 1.75em;
	}
	.modal-btn-container button {
		font-size: 0.76em;
		width: 155px;
	}
}